/*
Estilos base y selectores desnudos
*/

body{
  // font-family: 'Roboto', sans-serif;
  font-size: 16px;
  @include font-smoothing;
}


a, button{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  text-decoration: none;
}


strong{
  font-weight: bold;
}

em{
  font-style: italic;
}


.container{
  width: $container-width;
  padding: 0 percentage(20/320);
  margin: 0 auto;

  @media screen and ( min-width : 1px ) {
    width: auto;
    max-width: $container-width;
  }

  @media screen and (max-width: $bp-small-container){
    max-width: ($bp-small-container / 1em * 16px) - 200px;
  }

}

.fancy-select{
  visibility: hidden;
}

.js-fit-image{
  position: absolute;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}

.masked-email{
  &::after {
    content: attr(data-domain);
  }
  &::before {
    content: attr(data-user) "\0040";
  }
}