%row{
  overflow: hidden;
  margin: 0 ($default-col-gap/-2);
}
.b-row{
  @extend %row;
}

%col{
  padding: 0 ($default-col-gap/2);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-col{
  @extend %col;
}

%linkBox{
  position: relative;

  &::after{
    position: absolute;
    z-index: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: $color-brand-green;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    content: ' ';
  }

  /*
  &:hover::after{
    -webkit-opacity: 0.89;
    -moz-opacity: 0.89;
    -ms-opacity: 0.89;
    -o-opacity: 0.89;
    -khtml-opacity: 0.89;
    opacity: 0.89;
  }
  */
}

%linkTitle{
  a{
    color: $color-dark;

    &:hover{
      color: $color-interactive;
    }
  }
}

%resetInput{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-outline: none;
  -moz-outline: none;
  -ms-outline: none;
  -o-outline: none;
  -khtml-outline: none;
  outline: none;
}