@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto+Condensed:700|Roboto:400,400i,700,700i');

@mixin f_awesome( $content ){
  font-family: "Font Awesome 5 Pro";
  content: fa_content( $content );
}