$main_type : 'Roboto';

$container-width : 1170px;
$bp-small-container : em(800);
$bp-xs-container : em(450);
$bp-mob-menu : em(880);
$bp-small-fonts : em(600);

$default-col-gap : em(30);

$color-accent : #BC2332;
$color-interactive : #47644B;
$color-secondary: #b38e6f;

$color-text : #666565;
$color-dark : #231F20;
