$is_editor : false !default;

@mixin wpContent{
  color: $color-text;

  a{
    color: $color-interactive;
    border-bottom: 4px solid mix($color-interactive, white, 25);

    &:hover{
      border-bottom-color: $color-interactive;
    }
  }

  * + p {
    margin-top: em(33,21);
  }

  h2{
    @include emfont(33,36,21);
    font-weight: 700;
    letter-spacing: -0.01em;
  }

  strong{
    font-weight: bold;
  }




  * + h2 {
    margin-top: em(50,36);
  }

  ul, ol {
    margin-bottom: em(42,21);

    li{
      padding-left: em(42,21);
      position: relative;

      &:before{
        color: $color-interactive;
        position: absolute;
        left: 4px;
        top: 0;
      }
    }

    li + li {
      // margin-top: em(17,21);
    }
  }

  ul li::before{
    content: $fa-var-circle;
    font-family: FontAwesome;
    line-height: em(33,12);
    font-size: em(12,21);
  }

  * + ul,
  * + ol {
    margin-top: em(42,21);
  }

  ol{
    counter-reset: ol;

    li{
      counter-increment: ol;
    }

    li::before{
      content: counter(ol) '.';
      font-weight: 800;
    }
  }

  blockquote{
    margin: em(45,33) 0;
    @include emfont(33,45,21);
    font-weight: bold;
    padding-left: em(45,33);
    border-left: 5px solid $color-accent;
  }
}

@if( $is_editor ) {
  body.mce-content-body{
    font-family: $main_type, sans-serif;
    padding: 40px !important;
    max-width: 800px;
    color: $color-text;
    @include wpContent;
    font-size: 16px;
    line-height: em(30);

    span{
      color: red !important;
    }
  }
} @else {
  .wpContent{
    @include wpContent;
  }
}

