@import 'variables';

/*
Colors
*/

@mixin menu_icon( $post_type, $color ) {
  #menu-posts-#{$post_type} .wp-menu-image:before{
    color: $color !important;
  }
}

@include menu_icon('noticia', #2be1d1);

#menu-comments .wp-menu-image:before{
  color: #ffffc6 !important;
}
#menu-pages .wp-menu-image:before{
  color: #fff !important;
}
#toplevel_page_opciones-generales .wp-menu-image:before{
  color: white !important;
  content: '\f108';
}


/*
Otros estilos
*/

// Botón de ACF para añadir layouts al Flexible Content

@mixin wp_button( $color ) {

  $lighter : lighten($color, 6 );
  $darker : darken( $color, 6 );

  background: $color;
  border-color: $lighter $darker $darker;
  -webkit-box-shadow: 0 1px 0 $darker;
  box-shadow: 0 1px 0 $darker;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px $darker,1px 0 1px $darker,0 1px 1px $darker,-1px 0 1px $darker;

  &:hover{
    background: darken($color, 3);
  }
}

.acf-button[data-event=add-layout]{
  @include wp_button(#5c00b8);
}
.acf-fc-popup{
  ul li a:hover{
    background: #5c00b8;
  }
}

.acf-field-58696ac6dd1c4 .acf-button[data-event=add-row]{
  @include wp_button(#37b84e);
}

.acf-field-586bd3f8bdee9 .acf-button[data-event=add-row]{
  @include wp_button(#ecad35);
}