{{ include('header.twig') }}

<h1> Mensaje desde la web </h1>

<p>
    <strong>Nombres y apellidos: </strong> {{ nombres }} <br />
    <strong>Correo: </strong> {{ elemail }} <br />
    <strong>Teléfono: </strong> {{ telefono }} <br />
    <br />
    <strong>Asunto: </strong> {{ asunto }} <br />
    <br />
    <strong>Mensaje:</strong><br /> <br />
    {{ mensaje }}
</p>

{{ include('footer.twig') }}