.woocommerce table.shop_table{
  border: none;
  border-radius: 0;

  thead{
    th{
      font-weight: bold;
      color: $woo-table-th-color;
      text-transform: uppercase;
      font-size: 90%;
      border-bottom: 2px solid $woo-table-th-border;
    }
  }

  th{
    padding: 10px 0;
  }

  td{
    padding: 10px 0;
  }

  tr + tr {
    border-top: 1px solid $woo-table-td-border;
  }

}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
  background: none;
}