.select2-container--default .select2-selection--single {
  border: 1px solid #ddd;
  border-radius: 0;
  text-align: left !important;
}
.select2-dropdown{
  border: 1px solid #ddd;
}
.select2-search__field{
  border: 1px solid #ddd !important;
}
.select2-results{
  font-size: 14px;
  line-height: 20px;

  li {

  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected]{
  background: $woo-select2-selected-item-background;
}