.woocommerce{
  button#pagar-now,
  button#btn-back,
  button#home{
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    font-weight: bold;

    @include wooButtonLayout;
    @include wooButtonColors(
                    $woo-button-color,
                    $woo-button-background-color,
                    $woo-button-hover-color,
                    $woo-button-hover-background-color
    );
  }

  button#btn-back{
    @include wooButtonColors(
        #666,
        #f0f0f0,
        #333,
        #f0f0f0
    )
  }
}