$woo-color-link: $color-is-green;
$woo-color-text : $color-text;
$woo-color-dark-text : $color-black;
/*
Tables
 */

$woo-table-th-color : $woo-color-dark-text;
$woo-table-th-border : #ddd;
$woo-table-td-border : #ddd;

/*
Woo Button
 */

$woo-button-padding-top : 0;
$woo-button-padding-side : 30px;
$woo-button-line-height : 45px;
$woo-button-border-radius: 50px;
$woo-button-background-color : $woo-color-link;
$woo-button-color : white;
$woo-button-text-transform : uppercase;
// Hover
$woo-button-hover-background-color : darken($woo-color-link, 10);
$woo-button-hover-color : white;

$woo-button-alt-background-color : $woo-color-link;
$woo-button-alt-color : white;
$woo-button-alt-hover-background-color : darken($woo-color-link, 10);

$woo-select2-selected-item-background: $woo-color-link;

$woo-color-info : #7fa7c0;

/*
Inputs
 */

$woo-input-height : $woo-button-line-height;
$woo-input-side-padding : 15px;
$woo-input-border-color : #ddd;
$woo-input-font-size : 16px;
$woo-input-border-radius : 5px;
$woo-input-focus-border-color: $woo-color-link;

/*
Cart
 */

$woo-cart-remove-color : inherit;
$woo-cart-remove-hover-color : $woo-color-link;
$woo-cart-remove-hover-background: transparent;

$woo-cart-totals-th-color : #999;

/*
After Cart Buttons
 */

$woo-cart-button-hover-color : $woo-color-link;

/*
Checkout
 */

$woo-checkout-left-col-width : 60%;
$woo-checkout-right-col-width: 36%;

$woo-billing-title-font-weight : bold;
$woo-billing-title-font-size : 15px;
$woo-billing-title-text-transform : uppercase;

$woo-shipping-fields-wrap-padding : 0px;
$woo-shipping-fields-wrap-background : #fff;

$woo-checkout-order-review-padding: 30px;
$woo-checkout-order-review-border-width: 2px;
$woo-checkout-order-review-border-color: $color-chrome-white;


$woo-checkout-payment-background : $color-chrome-white;
$woo-checkout-payment-details-background : white;
$woo-checkout-payment-details-font-size : 85%;
$woo-checkout-payment-details-line-height : 1.5;
$woo-checkout-payment-details-color: inherit;

/*
My Account
 */



@import 'wooNotification';
@import 'wooCart';
@import 'wooShopTable';
@import 'wooButton';
@import 'wooSelect2';
@import 'wooForms';
@import 'wooCheckout';
@import 'wooOrder';
@import 'wooCulqi';
@import 'wooAccount';
@import 'wooCart';

