@mixin wooButtonLayout{
  padding: $woo-button-padding-top $woo-button-padding-side;
  line-height: $woo-button-line-height;
  border-radius: $woo-button-border-radius;
  text-transform: $woo-button-text-transform;

}

@mixin wooButtonColors($color, $bg, $hover_color, $hover_bg){
  color: $color;
  background: $bg;

  &:hover{
    color: $hover_color;
    background: $hover_bg;
  }
}

.woocommerce{

  button.button,
  a.button{
    @include wooButtonLayout;
    @include wooButtonColors(
      $woo-button-color,
      $woo-button-background-color,
      $woo-button-hover-color,
      $woo-button-hover-background-color
    );
  }

  button.button.alt,
  a.button.alt{
    @include wooButtonColors(
      $woo-button-alt-color,
      $woo-button-alt-background-color,
      $woo-button-color,
      $woo-button-alt-hover-background-color
    )
  }

}