.woocommerce {
  &-input-wrapper{
    select{
      height: $woo-input-height;
      line-height: $woo-input-height - 2px;
      border: 1px solid $woo-input-border-color;
      background: white;
      font-size: inherit;
      font-family: inherit;
    }
  }
  .input-text{
    height: $woo-input-height;
    line-height: $woo-input-height - 2px;
    padding: 0 $woo-input-side-padding;
    border: 1px solid $woo-input-border-color;
    font-size: $woo-input-font-size;
    border-radius: $woo-input-border-radius;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;

    &:focus{
      border-color: $woo-input-focus-border-color;
    }
  }

  textarea.input-text{
    height: 3 * $woo-input-height + 2 * $woo-input-side-padding;
    padding: $woo-input-side-padding;
    line-height: 1.5;
  }

  .select2-container .select2-selection--single{
    border: 1px solid $woo-input-border-color;
    font-size: $woo-input-font-size;
    height: $woo-input-height;
    border-radius: $woo-input-border-radius;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: $woo-input-height - 2px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: $woo-input-height - 2px;
  }

  @media screen and (max-width: $bp-small-container){
    form .form-row{
      width: 100%;
      float: none;
    }
  }
}
