.woocommerce-MyAccount {

  &-navigation {
    float: left;
    width: 200px;
  }
  &-content {
    padding-left: 60px;
    overflow: hidden;
  }

  &-navigation {
    li {
      position: relative;
      padding-right: 30px;
      + li {
        padding-top: 5px;
        margin-top: 5px;
        border-top: 1px dashed #ddd;
      }
    }
    li.is-active {
      a {
        font-weight: bold;
      }
      &:after {
        content: fa_content($fa-var-chevron-right);
        @include fal;
        position: absolute;
        top: 50%;
        line-height: 20px;
        margin-top: -10px;
        height: 20px;
        right: 5px;
      }
    }
    a {
      color: $woo-color-text;

      &:hover {
        color: $woo-color-link;
      }
    }

    &-link--downloads {
      display: none;
    }
  }

  &-content {
    p {
      margin-bottom: 1em;
    }

    a {
      color: $woo-color-link;
    }
  }

  @media screen and (max-width: em(600)) {
    &-navigation,
    &-content {
      float: none;
      width: auto;
      margin: 0 0 40px;
      padding-left: 0;
    }

    &-navigation {
      padding: 30px;
      background: #f0f0f0;
    }
  }

}

.woocommerce-EditAccountForm{
  fieldset{
    border: 1px solid #ddd;
    padding: 30px;
    margin: 30px 0;
  }
}

.woocommerce-Address{
  border: 1px solid #ddd;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &-title{
    border-bottom: 1px solid #ddd;
    padding: 20px 30px 15px;
    margin: -30px -30px 30px -30px;
  }

  h3{
    font-weight: bold;
    text-transform: uppercase;
  }
}

.woocommerce-form-login{
  max-width: 500px;
}