.woocommerce{

  .woocommerce-order{

    p{
      margin-bottom: 2em;
    }

    h2{
      margin: 1em 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .woocommerce-order-overview,
  .order_details,
  .wc-bacs-bank-details{
    margin: 2em 0;
    padding: 1.5em 1.5em 0.5em 1.5em;
    border: 1px solid #ddd !important;
    border-radius: 5px;

    li {
      margin-bottom: 1em;

      @media screen and (max-width: em(700)){
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 45%;
        margin-right: 5%;

        &:nth-child(2n + 2) {
          border: none;
        }
      }

      @media screen and (max-width: em(450)){
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        border: none;
      }
    }
  }
  .woocommerce-customer-details{
    address{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

}