.woocommerce{
  .lost_password a{
    color: $woo-color-link;
  }
}


.woocommerce-checkout{
  @include o_clearfix;

  .col2-set{
    float: left;
    width: $woo-checkout-left-col-width;
  }
  .col-1,
  .col-2{
    float: none !important;
    width: 100% !important;
    margin-bottom: 30px;
  }
}

.woocommerce-additional-fields{
  margin-top: 30px;
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper{
  padding: $woo-shipping-fields-wrap-padding;
  background: $woo-shipping-fields-wrap-background;
}

.woocommerce .checkout_coupon input#coupon_code{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
h3#order_review_heading{
  font-weight: $woo-billing-title-font-weight;
  font-size: $woo-billing-title-font-size;
  text-transform: $woo-billing-title-text-transform;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  margin-top: 30px;
}

h3#order_review_heading,
.woocommerce-checkout-review-order{
  width: $woo-checkout-right-col-width;
  float: right;
}

.woocommerce-checkout-review-order{
  border: $woo-checkout-order-review-border-width solid $woo-checkout-order-review-border-color;
  padding: $woo-checkout-order-review-padding;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce table.woocommerce-checkout-review-order-table{
  td, th{
    padding: 4px 0;
  }
  .product-total{
    text-align: right;
  }
  .product-name{
    font-weight: normal;
  }

  tfoot{
    th {
      border-top: 1px solid #ddd !important;
    }
    td{
      text-align: right;
    }
  }
}

.woocommerce-checkout {
  #payment{
    background: $woo-checkout-payment-background;
  }
  #payment div.payment_box{
    background: $woo-checkout-payment-details-background;
    font-size: $woo-checkout-payment-details-font-size;
    line-height: $woo-checkout-payment-details-line-height;
    color: $woo-checkout-payment-details-color;


    &::before{
      border-bottom-color: $woo-checkout-payment-details-background;
    }
  }

  .place-order{
    text-align: center;

    button{
      float: none !important;
    }
  }

}


.woocommerce-checkout{

  @media screen and (max-width: em(990)){
    .col2-set{
      width: 48%;
    }
    h3#order_review_heading,
    .woocommerce-checkout-review-order{
      width: 50%;
      float: right;
    }
  }

  @media screen and (max-width: $bp-small-container){
    .col2-set,
    h3#order_review_heading,
    .woocommerce-checkout-review-order{
      width: 100%;
    }
  }

  @media screen and (max-width: em(500)){
    .woocommerce-checkout-review-order{
      padding: 0;
      border: none;
    }
  }
}
