.woocommerce{
  @include o_clearfix;

  p.cart-empty{
    margin-bottom: 40px;
  }

  .cart{
    font-size: 14px;
    td.product-remove{
      text-align: center;
      width: 40px;
      padding-right: 20px;

      a.remove{
        color: $woo-cart-remove-color !important;

        &:hover{
          color: $woo-cart-remove-hover-color !important;
          background: $woo-cart-remove-hover-background !important;
        }
      }
    }

    td.product-thumbnail{
      width: 80px;
      img{
        width: 60px;
        height: auto;
        display: block;
      }
    }

    .product-price{
      text-align: right;
      padding-right: 20px;
      width: 120px;
    }
    .product-subtotal{
      text-align: right;
      width: 120px;
    }
    .product-quantity{
      width: 120px;
      text-align: right;

      input{
        @extend %resetInput;
        height: 36px;
        width: 80px;
        border: 1px solid #ddd;
        font-size: 15px;
      }
    }

  }

  table.cart td.actions .coupon{
    input{
      width: auto;
    }
  }

  .woocommerce-cart-form{
    float: left;
    width: percentage(820/1170);
  }

  // Cajita derecha

  .cart-collaterals{
    float: right;
    width: percentage(300/1170);
    font-size: 14px;

    .woocommerce-shipping-destination{
      font-size: 80%;
      line-height: 1.4;
      margin: 10px 0;
      -webkit-opacity: 0.6;
      -moz-opacity: 0.6;
      -ms-opacity: 0.6;
      -o-opacity: 0.6;
      -khtml-opacity: 0.6;
      opacity: 0.6;
    }
  }



  .cart-collaterals .cart_totals{
    // padding: 30px;
    // background: #f0f0f0;
    float: none;
    width: 100%;

    h2{
      text-align: center;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    td{
      text-align: right;
    }

    th, td{
      border: none;
      padding: 8px 0;
    }
    
    th{
      text-transform: none;
      color: $woo-cart-totals-th-color !important;
      font-weight: 400;
    }

    tr + tr {
      th, td{
        border-top: 1px solid #ddd;
      }
    }

    .shipping a{
      color: $woo-color-link;
    }

    .wc-proceed-to-checkout{
      text-align: right;
    }
  }

  .cart .button{
    color: #666;
    background: none;
    border: 2px solid #ddd;
    height: 36px !important;
    line-height: 36px !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0 2em !important;
    border-radius: 40px;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    -khtml-outline: none;
    outline: none;

    &:hover{
      background: none;
      color: $woo-cart-button-hover-color;
      border-color: $woo-cart-button-hover-color;
    }
  }

  .shipping-calculator-form{
    input{
      @extend %resetInput;
      border: 1px solid #ddd;
      height: 26px;
      line-height: 26px;
      font-size: inherit;
      padding: 0 8px;
    }
  }


  @media screen and (max-width: em(1080)){
    .woocommerce-cart-form{
      width: 100%;
      margin-bottom: em(60);
    }
    .cart-collaterals{
      width: 100%;
    }
  }

  @media screen and (max-width: em(768)){
    .cart {

      th, td{
        width: auto !important;
        padding: 7px 0 !important;
        border-style: dashed !important;

        &:first-child{
          padding-top: 30px !important;
        }
        &:last-child{
          padding-bottom: 30px !important;
        }
      }
      .product-remove{

        a{
          width: auto;
          display: inline-block;
          color: inherit;
          line-height: 20px;

          &:after{
            line-height: 20px;
            content: attr(aria-label);
            font-size: 13px;
            margin-left: 5px;
            vertical-align: bottom;
          }

          &:hover{
            background: none;
            color: inherit !important;
          }
        }
      }

      .product-quantity input{
        height: 30px;
        line-height: 30px;
      }

      .actions{
        background: none !important;
        button{
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }

      .coupon{
        input{
          float: left;
          width: 48% !important;
          -webkit-box-sizing: border-box !important;
          -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
        }

        button{
          width: 48% !important;
          float: right;
        }
      }

    } // cart
  }

  @media screen and (max-width: em(430)){
    .cart{
      .actions{
        input, button{
          text-align: center;
          width: 100% !important;
          margin-top: 5px;
          display: block !important;
        }
      }
    }
  }

}