.woocommerce-message,
.woocommerce-error,
.woocommerce-info{
  padding: 0.5em 1.5em;
  border: none;
  color: $color-text;
  border-left: 3px solid #ddd;

  &:before{
    display: none;
  }

  a{
    color: $woo-color-link;
    font-weight: bold;
    text-decoration: underline;
  }

  li{
    display: none;

    &:first-child{
      display: block;
    }
  }
}
.woocommerce-error{
  border-color: red;
}
.woocommerce-info{
  border-color: $woo-color-info;
}