/*
MIXINS
*/
$base-font-size : 16 !default;
@function em($size, $base: $base-font-size) {
  @return ($size / $base) * 1em;
}

@mixin emfont( $size, $line_height : $size, $base: $base-font-size ) {
  font-size: em($size, $base);
  line-height: ($line_height/$size);
}

@mixin sprited($x, $y, $width: false, $height: false){
  background-position: -#{$x}px -#{$y}px;

  @if $height != false{
    height: $height;
    width: $width;
  }
}


//
// Typografy mixins
// http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
//

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin enable-kerning {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
}


@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &:focus::-webkit-input-placeholder{color:transparent;}
}


@mixin rowify($gap){
  @include o_clearfix;
  margin:{
    left: $gap/-2;
    right: $gap/-2;
  }
}

@mixin colify($gap){
  padding:{
    left: $gap/2;
    right: $gap/2;
  }
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

@mixin no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


//
// Clear Fix Object
//

@mixin o_clearfix{
  *zoom: 1;

  &:before,
  &:after{
    content: ' ';
    display: table;
  }

  &:after{
    clear: both;
  }
}

%o_clearfix{
  @include o_clearfix;
}

//
// Image Replacement Object
//

@mixin o_imagereplacement{
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  overflow: hidden;
}

%o_imagereplacement{
  @include o_imagereplacement;
}


//
// Media Object
//

@mixin o_media_layout{
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

%o_media-layout{
  @include o_media_layout;
}

//
// Inline block object
//

@mixin o_inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1;
}

%o_inline-block{
  @include o_inline-block;
}

//
// Flexible Grid Objects
//

@mixin o_justified-grid {
  text-align: justify;
  font-size: 0;
  text-justify: distribute-all-lines;

  &:after{
    display: inline-block;
    content: ' ';
    width: 100%;
  }
}

@mixin o_justified-grid__item{
  @extend %o_inline-block;
  vertical-align: top;
  text-justify: auto;
  text-align: left;
  font-size: 16px;
}

%o_justified-grid{
  @include o_justified-grid;
}

%o_justified-grid__item{
  @include o_justified-grid__item;
}

//
// No selection
//

%o_noselect{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%o_bgsize-polly{
  -ms-behavior: url(http://s.picolestudio.pe/static/bgsize.min.htc);
}

