.u-text-center{
  text-align: center !important;
}

.u-text-right{
  text-align: right !important;
}
.u-text-left{
  text-align: left !important;
}

.u-text-upper{
  text-transform: uppercase;
}

// Filler for justified grid

.u-filler{
  display: inline-block;
  height: 0;
}

.u-clearfix{
  @include o_clearfix;
}

.u-relative{
  position: relative;
}

.u-left{
  float: left;
}

.u-right{
  float: right;
}

.u-grid{
  @include o_justified-grid;

  &:after{
    @include o_justified-grid__item;
    content: " ";
    width: 100%;
  }
}

.u-grid__item{
  @include o_justified-grid__item;
}

.u-card-link{
  @include o_imagereplacement;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.u-no-margin-bot{
  margin-bottom: 0 !important;
}

.u-media,
.u-media__content{
  overflow: hidden;
}

.u-hidden{
  display: none;
}


@for $i from 1 through 10 {
  $num : $i * 5;
  .u-bot-#{$num}{
    margin-bottom: $num * 1px !important;
  }
  .u-top-#{$num}{
    margin-top: $num * 1px !important;
  }
}